* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --red: #FF0217;
  --yellow: #FEEA3B;
  --darkgray: #353535;
  --lightgray: #5A5A5A;
}

.main {
  width: 100%;
}

.main .Navbar {
  background-color: var(--black);
  display: flex;
  padding: .5rem 150px;
  font-family: sans-serif;
  color: var(--white);
  align-items: center;
}

.main img {
  width: 3rem;
  cursor: pointer;
}

.main .Navbar__Link {
  padding: 0 1rem;
  color: var(--white);
  text-decoration: none;
}

.main .Navbar__Link:hover {
  color: var(--red);
}

.main .Navbar__Items {
  display: flex;
  margin-left: 2rem;
}

.main .Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .main .Navbar__Items,
  .main .Navbar {
    flex-direction: column;
    padding: .5rem;
  }
  .main .Navbar__Items {
    display: none;
    padding: 0;
  }
  .main .Navbar__Link {
    line-height: 3rem;
    padding: 0;
  }
  .main .Navbar__Link:hover {
    background: var(--lightgray);
    color: var(--white);
  }
  .main .Navbar__ToggleShow {
    width: 100%;
    display: flex;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
  }
  .main .Navbar__Link-toggle {
    align-self: flex-end;
    padding-top: .3rem;
    padding-right: 1rem;
    font-size: 30px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.contact {
  height: auto;
}

.contact .contact-details {
  line-height: 1rem;
  padding: 1rem;
  align-items: center;
}

.contact .contact-details h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: var(--red);
}

.contact .contact-details p {
  text-align: center;
}

.contact .contact-form {
  margin: 0 33rem;
}

.contact .contact-form form .form-label {
  color: var(--red);
  font-weight: bolder;
}

.contact .contact-form form .form-control {
  background: transparent;
  border: 1px solid var(--red);
}

.contact .contact-form form .btn {
  margin: 1rem 0;
  padding: .5rem 3rem;
  background: var(--red);
  border: 0;
  border-radius: 10px;
}

.contact .contact-form form .btn:hover {
  background: var(--black);
}

@media screen and (max-width: 1025px) {
  .contact .contact-form {
    margin: 0 17rem;
  }
}

@media screen and (max-width: 769px) {
  .contact .contact-form {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 426px) {
  .contact .contact-details p {
    font-size: 15px;
  }
  .contact .contact-form {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 321px) {
  .contact .contact-details p {
    font-size: 13px;
  }
  .contact .contact-form {
    margin: 0 2rem;
  }
}

.footer {
  background: var(--black);
  height: auto;
  padding: .5rem;
  text-align: center;
}

.footer p {
  color: var(--white);
  align-items: center;
  margin: 0;
}
