@media (min-width: 576px) {
  .main {
    background: var(--black);
    padding-bottom: .1rem;
  }
  .main img {
    width: 5rem;
    margin: .5rem 7rem;
  }
  .main ul {
    display: flex;
  }
  .main li {
    padding: 0 20px;
    list-style: none;
    margin-top: .5rem;
  }
  .main a {
    color: var(--white);
    text-decoration: none;
  }
  .main .active {
    color: var(--red);
  }
  .cover-section img {
    width: 100%;
  }
  .services-section {
    background: var(--darkgray);
    height: 625rem;
  }
  .services-section h1 {
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    font-weight: bolder;
    color: var(--red);
  }
  .services-section p {
    width: 18rem;
    text-align: center;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 12px;
    color: var(--white);
  }
  .services-section .container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
  }
  .services-section .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .services-section .container .card {
    flex: 1 1 9.5rem;
    margin: 10px 20px;
    align-self: normal;
    text-align: center;
    cursor: pointer;
  }
  .services-section .container img {
    width: 125px;
  }
  .services-section .container h5 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .promote-section {
    background: var(--red);
  }
  .promote-section h1 {
    width: 16rem;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    margin-left: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 1000;
    color: var(--white);
  }
  .promote-section h5 {
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    margin: 1rem 2rem;
    font-weight: 1000;
    color: var(--white);
    text-align: center;
  }
  .promote-section a {
    background: var(--white);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    margin: 0 6.3rem;
    text-decoration: none;
    color: var(--black);
  }
  .promote-section a:hover {
    background: var(--black);
    color: var(--white);
  }
  .promote-section img {
    width: 15rem;
    border-radius: 30px;
    margin: 0rem 2.5rem;
  }
  .promote-section .download {
    margin-top: -1rem;
  }
  .footer {
    height: 0;
  }
  .footer p {
    background: var(--black);
    padding: 1rem;
    text-align: center;
    color: var(--white);
    font-weight: 1000;
    font-size: 14px;
  }
}
