* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri',sans-serif;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --red: #FF0217;
  --yellow: #FEEA3B;
  --darkgray: #353535;
  --lightgray: #5A5A5A;
}

.main {
  width: 100%;
}

.main .Navbar {
  background-color: var(--black);
  display: flex;
  padding: .5rem 150px;
  font-family: sans-serif;
  color: var(--white);
  align-items: center;
}

.main img {
  width: 3rem;
  cursor: pointer;
}

.main .Navbar__Link {
  padding: 0 1rem;
  color: var(--white);
  text-decoration: none;
}

.main .Navbar__Link:hover {
  color: var(--red);
}

.main .Navbar__Items {
  display: flex;
  margin-left: 2rem;
}

.main .Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .main .Navbar__Items,
  .main .Navbar {
    flex-direction: column;
    padding: .5rem;
  }
  .main .Navbar__Items {
    display: none;
    padding: 0;
  }
  .main .Navbar__Link {
    line-height: 3rem;
    padding: 0;
  }
  .main .Navbar__Link:hover {
    background: var(--lightgray);
    color: var(--white);
  }
  .main .Navbar__ToggleShow {
    width: 100%;
    display: flex;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
  }
  .main .Navbar__Link-toggle {
    align-self: flex-end;
    padding-top: .3rem;
    padding-right: 1rem;
    font-size: 30px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.cover {
  margin-top: -1.5rem;
}

.cover .cover-section img {
  width: 100%;
}

.cover .cover-section video {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cover .cover-section {
    margin-top: 1.5rem;
  }
}
