@import url('https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
}

:root {
    --black: #121212;
    --white: #ffffff;
    --red: #FF0217;
    --yellow: #FEEA3B;
    --darkgray: #353535;
    --lightgray: #5A5A5A;

}

@media (max-width: 320px) {
    .main {
        background: var(--black);
        padding-bottom: .1rem;
        
        img {
            width: 5rem;
            margin: .5rem 7rem;
        }

        ul {
            display: flex;
        }

        li {
            padding: 0 20px;
            list-style: none;
            margin-top: .5rem;
        }

        a {
            color: var(--white);
            text-decoration: none;
        }

        .active {
            color: var(--red);
        }
    }

    .cover-section {

        img {
            width: 100%;
        }
    }

    .services-section {
        background: var(--darkgray);
        height: 625rem;

        h1 {
            text-align: center;
            padding: 1rem;
            font-size: 30px;
            font-weight: bolder;
            color: var(--red);
        }

        p {
            width: 18rem;
            text-align: center;
            margin-top: -1rem;
            margin-left: 1rem;
            font-size: 12px;
            color: var(--white);
        }

        .container {
            width: 1100px;
            max-width: 100%;
            margin: 0 auto;
        
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            .card {
                flex: 1 1 9.5rem;
                margin: 10px 20px;
                align-self: normal;
                text-align: center;
                cursor: pointer;
            }
        
            img {
                width: 125px;
            }
        
            h5 {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 10px 0;
            }
        }
    }

    .promote-section {
        background: var(--red);

        h1 {
            width: 16rem;
            font-family: 'Montserrat',sans-serif;
            text-align: center;
            margin-left: 2rem;
            padding-top: 2rem;
            font-size: 2rem;
            font-weight: 1000;
            color: var(--white);
        }

        h5 {
            font-family: 'Montserrat',sans-serif;
            font-size: 1rem;
            margin: 1rem 2rem;
            font-weight: 1000;
            color: var(--white);
            text-align: center;
        }

        a {
            background: var(--white);
            padding: .5rem 1.5rem;
            border-radius: 5px;
            margin: 0 6.3rem;
            text-decoration: none;
            color: var(--black);
        }

        a:hover {
            background: var(--black);
            color: var(--white);
        }

        img {
            width: 15rem;
            border-radius: 30px;
            margin: 0rem 2.5rem;
        }

        .download {
            margin-top: -1rem;
        }
    }

    .footer {
        height: 0;

        p {
            background: var(--black);
            padding: 1rem;
            text-align: center;
            color: var(--white);
            font-weight: 1000;
            font-size: 14px;
        }
    }
}