* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --red: #FF0217;
  --yellow: #FEEA3B;
  --darkgray: #353535;
  --lightgray: #5A5A5A;
}

.main {
  width: 100%;
}
.main .Navbar {
  background-color: var(--black);
  display: flex;
  padding: 0.5rem 150px;
  font-family: sans-serif;
  color: var(--white);
  align-items: center;
}
.main img {
  width: 3rem;
  cursor: pointer;
}
.main .Navbar__Link {
  padding: 0 1rem;
  color: var(--white);
  text-decoration: none;
}
.main .Navbar__Link:hover {
  color: var(--red);
}
.main .Navbar__Items {
  display: flex;
  margin-left: 2rem;
}
.main .Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .main .Navbar__Items,
.main .Navbar {
    flex-direction: column;
    padding: 0.5rem;
  }
  .main .Navbar__Items {
    display: none;
    padding: 0;
  }
  .main .Navbar__Link {
    line-height: 3rem;
    padding: 0;
  }
  .main .Navbar__Link:hover {
    background: var(--lightgray);
    color: var(--white);
  }
  .main .Navbar__ToggleShow {
    width: 100%;
    display: flex;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
  }
  .main .Navbar__Link-toggle {
    align-self: flex-end;
    padding-top: 0.3rem;
    padding-right: 1rem;
    font-size: 30px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.cover {
  margin-top: -1.5rem;
  margin-bottom: -0.4rem;
}
.cover .cover-section {
  margin-top: 1.5rem;
}
.cover .cover-section img {
  width: 100%;
}
.cover .cover-section video {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .cover .cover-section {
    margin-top: 1.5rem;
  }
}

.services {
  padding: 1rem;
  background: var(--black);
}
.services .services-header {
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.services .services-header h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--red);
}
.services .services-header p {
  text-align: center;
  color: var(--white);
  font-size: 1rem;
}
.services .services-product {
  height: auto;
}
.services .services-product .row {
  margin: 0 5rem;
}
.services .services-product .column {
  display: contents;
  float: left;
}
.services .services-product .card {
  margin: 1rem 1rem;
  max-width: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding-top: 30px;
  cursor: pointer;
}
.services .services-product img {
  width: 10rem;
  height: 10rem;
  margin: 0 2rem;
  object-fit: cover;
  display: block;
  align-items: center;
}
.services .services-product p {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

@media only screen and (max-width: 1024px) {
  .services .services-product .row {
    margin: 0 6.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .services .services-product .row {
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 426px) {
  .services .services-product .row {
    margin: 0 30px;
  }
}
.promotion .promote-section .video {
  width: 100%;
}

.advertisement {
  background: var(--red);
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 15rem;
  align-items: center;
}
.advertisement .ads-section h1 {
  font-weight: bolder;
  font-size: 4rem;
  color: var(--white);
}
.advertisement .ads-section h2 {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
  font-weight: 100;
}
.advertisement .ads-section .download {
  margin: 2rem 0;
}
.advertisement .ads-section .download a {
  display: inline-block;
  background: var(--white);
  color: var(--black);
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
  border-radius: 10px;
}
.advertisement .ads-section .download a:hover {
  background: var(--black);
  color: var(--white);
}
.advertisement .ads-images img {
  width: 25rem;
}

@media only screen and (max-width: 1440px) {
  .advertisement {
    padding: 1rem 18rem;
  }
  .advertisement .ads-section h1 {
    font-size: 3.5rem;
  }
  .advertisement .ads-section h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .advertisement {
    padding: 1rem 5rem;
  }
  .advertisement .ads-section h1 {
    font-size: 3.5rem;
  }
  .advertisement .ads-section h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .advertisement {
    display: block;
    padding: 1rem;
  }
  .advertisement .ads-section h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
  }
  .advertisement .ads-section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }
  .advertisement .ads-section .download {
    display: block;
    text-align: center;
  }
  .advertisement .ads-images {
    display: block;
    padding: 0 10rem;
  }
  .advertisement .ads-images img {
    display: block;
    max-width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .advertisement .ads-images {
    display: block;
    padding: 0;
  }
}
.footer {
  background: var(--black);
  height: auto;
  padding: 0.5rem;
  text-align: center;
}
.footer p {
  color: var(--white);
  align-items: center;
  margin: 0;
}