@import url('https://fonts.googleapis.com/css2?family=Allura&family=Ballet:opsz@16..72&family=Dancing+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
}

html {
    height: 1rem;
}

:root {
    --black: #121212;
    --white: #ffffff;
    --red: #FF0217;
    --yellow: #FEEA3B;
    --darkgray: #353535;
    --lightgray: #5A5A5A;
}

.main {
    background: var(--black);
    padding: 0 150px;

    .navbar-section {

        img {
            width: 5rem;
            margin: .5rem .5rem;
        }

        ul {
            display: flex;
            margin-left: 3rem;
        }

        li {
            margin: 0 2rem;
            margin-top: -4.5rem;
            list-style: none;
        }

        a {
            font-size: 20px;
            color: var(--white);
            text-decoration: none;
        }
    }
}

.cover {

    .cover-section {

        img {
            width: 100%;
            margin-top: -1rem;
        }
    }
}

.services {
    background: var(--darkgray);
    padding: 1rem 1rem;

    .services-section {
        text-align: center;

        h1 {
            font-size: 5rem;
            font-weight: bolder;
            color: var(--red);
            margin-bottom: 0;
        }

        p {
            width: 55rem;
            font-size: 1.5rem;
            margin-left: 20rem;
            margin-bottom: 0;
            color: var(--white);
        }
    }

    .services-product {
        margin: 1rem 1rem;

        .container {
            width: 1100px;
            max-width: 100%;
            margin: 0 auto;
        
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            .card {
                flex: 1 1 9.5rem;
                margin: 10px 20px;
                align-self: normal;
                text-align: center;
                cursor: pointer;
            }
        
            img {
                width: 125px;
            }
        
            h5 {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 10px 0;
            }
        }
    }
}

.promotion {
    background: var(--red);
    padding: 1rem 1rem;
    height: 45rem;

    .promote-section {
        margin: 0 250px;

        h1 {
            width: 60rem;
            font-family: 'Secular One',sans-serif;
            font-weight: bolder;
            font-size: 5rem;
            color: var(--white);
        }

        h5 {
            font-size: 3rem;
            color: var(--white);
        }

        .download-btn {
            margin-top: 2rem;

            a {
                background: var(--white);
                padding: 1rem 3rem;
                color: var(--black);
                text-decoration: none;
                border-radius: 10px;
                font-size: 15px;
            }

            a:hover {
                background: var(--black);
                color: var(--white);
            }

            .apps {

                img {
                    width: 25rem;
                    margin-left: 32rem;
                    margin-top: -16rem;
                }

                .download {

                    img {
                        width: 20rem;
                        margin-left: 12rem;
                        margin-top: -33rem;
                    }
                }
            }
        }
    }
}

.footer {
    background: var(--black);
    height: fit-content;

    p {
        padding: 1rem 1rem;
        text-align: center;
        font-size: 1rem;
        color: var(--white);
    }
}





@media (max-width: 768px) {
    .main {
        width: 100%;
        background: var(--black);

        .navbar-section {

            img {
                width: 5rem;
                margin: 1rem 5rem;
            }

            ul {
                display: flex;
                margin-left: 10rem;
            }

            li {
                margin: 0 2rem;
                margin-top: -5rem;
            }

            a {
                color: var(--white);
                text-decoration: none;
                font-size: 1.5rem;
            }

            .active {
                color: var(--red);
            }
        }
    }

    .cover-section {

        img {
            width: 100%;
            margin-top: -1rem;
        }
    }

    .services {
        background: var(--lightgray);

        .services-section {
            text-align: center;
            padding: 1rem 1rem;

            h1 {
                font-size: 3rem;
                font-weight: bolder;
                color: var(--red);
            }

            p {
                color: var(--white);
            }
        }

        .services-product {
            padding: 1rem 1rem;

            .container {
                width: 1100px;
                max-width: 100%;
                margin: 0 auto;
            
                .row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            
                .card {
                    flex: 1 1 9.5rem;
                    margin: 10px 20px;
                    align-self: normal;
                    text-align: center;
                    cursor: pointer;
                }
            
                img {
                    width: 125px;
                }
            
                h5 {
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 10px 0;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .main {
        background: var(--black);
        padding-bottom: 1rem;
        
        img {
            width: 5rem;
            margin: .5rem 12.5rem;
        }

        ul {
            display: flex;
            margin: 0 5.5rem;
        }

        li {
            padding: 0 20px;
            list-style: none;
            margin-top: .5rem;
        }

        a {
            color: var(--white);
            text-decoration: none;
        }

        .active {
            color: var(--red);
        }
    }

    .cover-section {

        img {
            width: 100%;
        }
    }

    .services-section {
        background: var(--darkgray);
        padding-bottom: 2rem;

        h1 {
            text-align: center;
            padding: 1rem;
            font-size: 4rem;
            font-weight: bolder;
            color: var(--red);
        }

        p {
            width: 25rem;
            text-align: center;
            margin-top: -1rem;
            margin-left: 2.5rem;
            font-size: 12px;
            color: var(--white);
        }

        .container {
            width: 1100px;
            max-width: 100%;
            margin: 0 auto;
        
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            .card {
                flex: 1 1 9.5rem;
                margin: 10px 20px;
                align-self: normal;
                text-align: center;
                cursor: pointer;
            }
        
            img {
                width: 125px;
            }
        
            h5 {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 10px 0;
            }
        }
    }

    .promote-section {
        background: var(--red);

        h1 {
            font-family: 'Montserrat',sans-serif;
            text-align: center;
            padding-top: 2.5rem;
            font-size: 2.5rem;
            font-weight: 1000;
            color: var(--white);
        }

        h5 {
            font-family: 'Montserrat',sans-serif;
            font-size: 1.5rem;
            margin: 1rem 2rem;
            font-weight: 800;
            color: var(--white);
            text-align: center;
        }

        a {
            background: var(--white);
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            margin: 0 11rem;
            text-decoration: none;
            color: var(--black);
        }

        a:hover {
            background: var(--black);
            color: var(--white);
        }

        img {
            width: 25rem;
            border-radius: 30px;
            margin: 0rem 1rem;
        }

        .download {
            margin-top: -1rem;

            img {
                width: 10rem;
                border-radius: 30px;
                margin-top: -55rem;
                margin-left: 18rem;
            }
        }
    }

    .footer {
        height: 0;

        p {
            background: var(--black);
            padding: 1rem;
            text-align: center;
            color: var(--white);
            font-weight: 1000;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 356px) {
    .main {

        .navbar-section {

            img {
                margin-left: 7.5rem;
            }

            ul {
                margin: 0 1rem;
            }
        }
    }

    .services-section {

        h1 {
            font-size: 3rem;
        }

        p {
            width: 20rem;
            margin-left: .5rem;
        }
    }

    .promote-section {

        h5 {
            font-size: 1rem;
        }

        a {
            margin-left: 7rem;
        }

        img {
            width: 15rem;
        }

        .download {

            img {
                margin-top: -33rem;
                margin-left: 11rem;
                width: 8rem;
            }
        }
    }
}

@media (max-width: 240px) {
    .main {

        .navbar-section {

            img {
                margin-left: 4rem;
            }

            ul {
                margin-left: -2.8rem;
            }
        }
    }

    .services-section {

        h1 {
            font-size: 2rem;
        }

        p {
            width: 13rem;
            margin-left: .5rem;
        }
    }

    .promote-section {
        
        h1 {
            font-size: 1.5rem;
        }

        a {
            margin-left: 3.5rem;
        }

        img {
            width: 10rem;
        }

        .download {

            img {
                margin-left: 8rem;
                margin-top: -21.5rem;
                width: 5rem;
            }
        }

        .footer {

            p {
                font-size: .5rem;
            }
        }
    }

}