* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri',sans-serif;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --red: #FF0217;
  --yellow: #FEEA3B;
  --darkgray: #353535;
  --lightgray: #5A5A5A;
}

#navbar {
  background: var(--black);
}

#navbar img {
  width: 3rem;
  margin: .5rem .5rem;
  margin-left: 10rem;
}

#navbar ul {
  margin-left: 15rem;
  margin-top: -4.5rem;
}

#navbar li {
  float: left;
  margin: 1rem 1rem;
  margin-top: 1.2rem;
  list-style: none;
}

#navbar a {
  color: var(--white);
  text-decoration: none;
  transition: .5s;
}

#navbar a:hover {
  color: var(--red);
}

#btn button {
  float: right;
  margin-right: 15rem;
  padding: .5rem 1rem;
  background: var(--yellow);
  border: none;
  color: var(--black);
  transition: .5s;
}

#btn button:hover {
  background: var(--red);
  color: var(--white);
}

.cover img {
  margin-top: .8rem;
  width: 100%;
}

.services {
  background: var(--black);
  padding: 1rem;
}

.services h1 {
  font-size: 64px;
  color: var(--red);
  font-weight: bolder;
  text-align: center;
  margin-top: 3rem;
}

.services p {
  width: 50rem;
  text-align: center;
  margin-left: 21rem;
  font-size: 16px;
  color: var(--white);
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

.container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .card {
  flex: 1 1 9.5rem;
  margin: 10px 20px;
  align-self: normal;
  text-align: center;
  cursor: pointer;
}

.container img {
  width: 125px;
}

.container h5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
}

.footer {
  margin-left: 5rem;
}

.footer img {
  width: 20rem;
  padding: 1rem 2rem;
  margin-left: 20rem;
}

.footer p {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin-top: -18.8rem;
  margin-left: 5.5rem;
}

.icons {
  margin-left: 45rem;
}

.icons i {
  display: inline-block;
  background: var(--black);
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  line-height: 60px;
  transition: all .5s ease-out;
  font-size: 25px;
  color: var(--yellow);
}

.icons i:hover {
  color: var(--red);
}

.icons p {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bolder;
}

.icons img {
  width: 10rem;
  margin-left: 2.5rem;
  cursor: pointer;
}

.foot {
  margin-top: 3rem;
  height: 1rem;
}

.foot p {
  background: var(--black);
  color: var(--white);
  text-align: center;
  padding: 1rem 1rem;
  font-size: 20px;
  font-weight: bolder;
}

@media (max-device-width: 320px) {
  #navbar {
    width: 21.3rem;
  }
  #navbar img {
    width: 2rem;
    margin-left: 9rem;
  }
  #btn button {
    display: none;
  }
  .cover img {
    width: 21.3rem;
    margin-top: -16rem;
  }
  .services {
    width: 21.3rem;
    margin-top: -4rem;
  }
  .services h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: -1rem;
  }
  .services p {
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    margin-left: -0.5rem;
    font-size: 10px;
  }
  .footer {
    width: 21.3rem;
    margin-left: -5rem;
    margin-top: 2rem;
  }
  .footer img {
    margin-left: 7.7rem;
    width: 15rem;
  }
  .footer p {
    width: 15rem;
    margin-top: -.5rem;
    margin-left: 8rem;
  }
  .icons {
    margin-left: 2.5rem;
  }
  .icons i {
    font-size: 12px;
    margin-left: 1rem;
    line-height: 2.5rem;
    width: 40px;
    height: 40px;
  }
  .icons img {
    width: 15rem;
    margin-left: .5rem;
  }
  .icons p {
    margin-left: .5rem;
  }
  .foot {
    width: 21.3rem;
  }
  .foot p {
    font-size: 14px;
  }
}

@media (min-device-width: 321px) and (max-device-width: 375px) {
  #navbar {
    width: 64.5rem;
  }
  #navbar img {
    width: 5rem;
    margin-left: 2rem;
  }
  #navbar ul {
    margin-top: -6rem;
    margin-left: 8rem;
  }
  #navbar li {
    font-size: 30px;
    margin-top: .5rem;
  }
  #btn button {
    margin-right: 2rem;
    padding: 0.5rem 1rem;
  }
  .cover img {
    width: 64.5rem;
    margin-top: 1.5rem;
  }
  .services {
    width: 64.5rem;
  }
  .services h1 {
    font-size: 8rem;
  }
  .services p {
    width: 50rem;
    margin-left: 7rem;
    font-size: 24px;
  }
  .container .card {
    padding: 1rem 1rem;
    margin: 1rem 6rem;
  }
  .container img {
    width: 10rem;
  }
  .footer img {
    width: 40rem;
    margin-left: 7rem;
  }
  .footer p {
    width: 50rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .icons {
    width: 25rem;
    margin-left: 18rem;
  }
  .icons i {
    font-size: 2rem;
    margin-left: 1rem;
    border-radius: 50%;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .icons p {
    width: 50rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: -4.5rem;
  }
  .icons img {
    width: 30rem;
    margin-left: -2rem;
  }
  .foot {
    width: 64.5rem;
  }
  .foot p {
    font-size: 40px;
  }
}

@media (min-device-width: 376px) and (max-device-width: 425px) {
  #navbar {
    width: 72rem;
  }
  #navbar img {
    width: 5rem;
    margin-left: 2rem;
  }
  #navbar ul {
    margin-top: -6.5rem;
  }
  #navbar li {
    font-size: 30px;
  }
  .container .row {
    width: 55rem;
    margin-left: 7rem;
  }
  #btn button {
    padding: 1rem 2rem;
    margin-right: 5rem;
    margin-top: -.5rem;
    font-size: 20px;
  }
  .cover img {
    width: 72rem;
    margin-top: 1.5rem;
  }
  .services {
    width: 72rem;
  }
  .services h1 {
    font-size: 6rem;
  }
  .services p {
    margin-left: 10rem;
    font-size: 20px;
  }
  .footer {
    margin-top: 1.5rem;
  }
  .footer img {
    width: 20rem;
    margin-left: 10rem;
  }
  .footer p {
    width: 20rem;
    margin-left: 30rem;
    font-size: 24px;
  }
  .icons {
    width: 20rem;
    margin-left: 37rem;
  }
  .icons p {
    width: 20rem;
    margin-left: -1rem;
    font-size: 24px;
  }
  .foot p {
    width: 72rem;
    font-size: 24px;
  }
}

@media (min-device-width: 426px) and (max-device-width: 768px) {
  #navbar {
    width: 72rem;
  }
  #navbar a {
    font-size: 20px;
  }
  .cover img {
    width: 72rem;
    margin-top: .3rem;
  }
  .services {
    width: 72rem;
  }
  .services h1 {
    font-size: 5rem;
  }
  .services p {
    margin-left: 8rem;
    font-size: 23px;
    width: 55rem;
  }
  .container {
    margin-left: 20.5rem !important;
  }
  .container .row {
    margin-left: -15rem;
  }
  .footer {
    margin-top: 2rem;
  }
  .footer img {
    margin-left: 10rem;
  }
  .footer p {
    width: 20rem;
    margin-left: 30rem;
    font-size: 24px;
  }
  .icons {
    width: 20rem;
    margin-left: 35rem;
  }
  .icons i {
    margin-left: 1rem;
  }
  .icons p {
    margin-left: 1rem;
    font-size: 24px;
  }
  .icons img {
    width: 15rem;
    margin-left: 2.5rem;
  }
  .foot p {
    width: 72rem;
  }
}

@media (min-device-width: 769px) and (max-device-width: 1024px) {
  #navbar {
    width: 72rem;
  }
  .cover img {
    width: 72rem;
  }
  .services {
    width: 72rem;
  }
  .services p {
    margin-left: 11rem;
    font-size: 20px;
  }
  .container .row {
    width: 59rem;
    margin-left: .5rem;
  }
  .footer img {
    margin-left: 10rem;
  }
  .footer p {
    margin-left: 18rem;
    font-size: 24px;
  }
  .icons {
    margin-left: 35.5rem;
  }
  .foot p {
    width: 72rem;
  }
}
