* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri',sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF0217;
    --yellow: #FEEA3B;
    --darkgray: #353535;
    --lightgray: #5A5A5A;
}

.main {
    width: 100%;

    .Navbar {
        background-color: var(--black);
        display: flex;
        padding: .5rem 150px;
        font-family: sans-serif;
        color: var(--white);
        align-items: center;
    }
    
    img {
        width: 3rem;
        cursor: pointer;
    }

    .Navbar__Link {
        padding: 0 1rem;
        color: var(--white);
        text-decoration: none;
    }

    .Navbar__Link:hover {
        color: var(--red);
    }

    .Navbar__Items {
        display: flex;
        margin-left: 2rem;
    }

    .Navbar__Link-toggle {
        display: none;
    }
        
    @media only screen and (max-width: 768px) {
        .Navbar__Items,
        .Navbar {
            flex-direction: column;
            padding: .5rem;
        }

        .Navbar__Items {
            display:none;
            padding: 0;
        }

        .Navbar__Link {
            line-height: 3rem;
            padding: 0;
        }

        .Navbar__Link:hover {
            background: var(--lightgray);
            color: var(--white);
        }

        .Navbar__ToggleShow {
            width: 100%;
            display: flex;
            margin: 1rem;
            font-size: 20px;
            text-align: center;
        }
                
        .Navbar__Link-toggle {
            align-self: flex-end;
            padding-top: .3rem;
            padding-right: 1rem;
            font-size: 30px;
            display: initial;
            position: absolute;
            cursor: pointer;
        } 
    }
}

.cover {
    margin-top: -1.5rem;
    margin-bottom: -.4rem;

    .cover-section {
        margin-top: 1.5rem;

        img {
            width: 100%;
        }

        video {
            width: 100%;
        }
    }

    @media only screen and (max-width: 768px) {
        .cover-section {
            margin-top: 1.5rem;
        }
    }
}

.services {
    padding: 1rem;
    background: var(--black);

    .services-header {
        align-items: center;
        padding: 1rem;
        text-align: center;

        h1 {
            font-size: 4rem;
            font-weight: bolder;
            color: var(--red);
        }

        p {
            text-align: center;
            color: var(--white);
            font-size: 1.5rem;
        }
    }

    .services-product {
        height: 170rem;

        .row {
            margin: 0 11rem;
        }

        .column {
            display: contents;
        }

        .card {
            padding: 0 1rem;
            width: 12rem;
            margin: 1rem 1rem;
            border-radius: 10px;
        }

        img {
            width: 10rem;
        }

        p {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5rem;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .services {

        .services-product {

            .row {
                margin: 0 9rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .services {
        height: 226rem;

        .services-product {

            .row {
                margin: 0 2.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .services {
        height: 285rem;

        .services-product {

            .row {
                margin: 0 2rem;
            }
        }
    }
}

@media only screen and (max-width: 426px) {
    .services {
        height: 384rem;

        .services-product {

            .row {
                margin: 0 -6px;
            }

            .card {
                margin: 5px 5px;
            }
        }
    }
}

@media only screen and (max-width: 376px) {
    .services {
        height: 734rem;

        .services-header {

            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.1rem;
            }
        }

        .services-product {

            .row {
                margin: 0 4.5rem;
            }

            .card {
                margin: 5px 5px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .services {
        height: 737rem;

        .services-header {

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .services-product {

            .row {
                margin: 0 3rem;
            }

            .card {
                margin: 5px 5px;
            }
        }
    }
}